In [14]:
# enable many obj dumps in a cell w/out print - not used this wk
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

import pandas as pd

df = pd.read_csv("data.csv")

#print(df)

                X          Y  OBJECTID  Incidentid                DateTime  \
0     -111.952210  33.421910         1   2598369.0  2012/01/01 07:25:00+00
1     -111.937690  33.423190         2   2593420.0  2012/01/01 11:45:00+00
2     -111.891960  33.418420         3   2588493.0  2012/01/01 18:07:00+00
3     -111.947910  33.417790         4   2584449.0  2012/01/02 00:03:00+00
4     -111.928470  33.349560         5   2592211.0  2012/01/02 00:12:00+00
...           ...        ...       ...         ...                     ...
51300 -111.939524  33.386046     51301   4155893.0  2024/03/09 07:44:00+00
51301 -111.972540  33.409359     51302   4154752.0  2024/03/11 20:30:00+00
51302 -111.926385  33.435558     51303   4155884.0  2024/03/14 13:15:00+00
51303 -111.926404  33.435576     51304   4155885.0  2024/03/14 13:20:00+00
51304 -111.909869  33.436621     51305   4155890.0  2024/03/15 07:11:00+00

         Year             StreetName CrossStreet  Distance  \
0      2012.0          University Dr    Hardy Dr     0.000
1      2012.0                 7th St  Myrtle Ave   139.920
2      2012.0               Price Rd   Orange St     0.000
3      2012.0                11th St     Judd St   200.112
4      2012.0               Rural Rd   Elliot Rd   135.168
...       ...                    ...         ...       ...
51300  2024.0  US-60 Exit 173 J-Ramp         NaN     0.000
51301  2024.0  I-10 Exit 153 C1-Ramp         NaN     0.000
51302  2024.0   SR-202 Exit 7 T-Ramp         NaN     0.000
51303  2024.0   SR-202 Exit 7 T-Ramp         NaN     0.000
51304  2024.0   SR-202 Exit 8 J-Ramp         NaN     0.000

                           JunctionRelation  ...  Unittype_Two  Age_Drv2  \
0              Intersection Non Interchange  ...        Driver      20.0
1                      Not Junction Related  ...           NaN       NaN
2                  Intersection Interchange  ...        Driver      31.0
3                      Not Junction Related  ...    Driverless       NaN
4      Intersection Related Non Interchange  ...        Driver      20.0
...                                     ...  ...           ...       ...
51300                Entrance Exit Ramp 205  ...           NaN       NaN
51301                  Not Junction Related  ...        Driver      31.0
51302                  Not Junction Related  ...        Driver      22.0
51303                Entrance Exit Ramp 205  ...        Driver      25.0
51304                Entrance Exit Ramp 205  ...           NaN       NaN

      Gender_Drv2 Traveldirection_Two         Unitaction_Two  \
0          Female                East   Going Straight Ahead
1             NaN                 NaN                    NaN
2            Male               South   Going Straight Ahead
3             NaN                East        Properly Parked
4          Female               South   Going Straight Ahead
...           ...                 ...                    ...
51300         NaN                 NaN                    NaN
51301      Female                East      Making Right Turn
51302      Female                East  Stopped In Trafficway
51303      Female                West      Making Right Turn
51304         NaN                 NaN                    NaN

          Violation1_Drv2        AlcoholUse_Drv2           DrugUse_Drv2  \
0      No Improper Action  No Apparent Influence  No Apparent Influence
1                     NaN                    NaN                    NaN
2      No Improper Action  No Apparent Influence  No Apparent Influence
3                     NaN                    NaN                    NaN
4      No Improper Action  No Apparent Influence  No Apparent Influence
...                   ...                    ...                    ...
51300                 NaN                    NaN                    NaN
51301  Unsafe Lane Change  No Apparent Influence  No Apparent Influence
51302  No Improper Action  No Apparent Influence  No Apparent Influence
51303  No Improper Action  No Apparent Influence  No Apparent Influence
51304                 NaN                    NaN                    NaN

        Latitude   Longitude
0      33.421910 -111.952210
1      33.423190 -111.937690
2      33.418420 -111.891960
3      33.417790 -111.947910
4      33.349560 -111.928470
...          ...         ...
51300  33.386046 -111.939524
51301  33.409359 -111.972540
51302  33.435558 -111.926385
51303  33.435576 -111.926404
51304  33.436621 -111.909869

[51305 rows x 35 columns]

In [45]:
severity_counts = df['Injuryseverity'].dropna().value_counts()
severity_counts

Injuryseverity
No Injury                    34846
Possible Injury               7962
Non Incapacitating Injury     4411
Suspected Minor Injury        3046
Incapacitating Injury          559
Suspected Serious Injury       325
Fatal                          154
Name: count, dtype: int64

In [13]:
# Group by Injuryseverity and calculate stats for injuries and fatalities
severity_stats = df.groupby("Injuryseverity").agg(
    TotalAccidents=('OBJECTID','count'),
    TotalInjuries=('Totalinjuries','sum'),
    TotalFatalities=('Totalfatalities','sum'),
    AvgInjuries=('Totalinjuries','mean'),
    AvgFatalities=('Totalfatalities','mean')
).reset_index().sort_values("TotalAccidents", ascending=False)

severity_stats

,Injuryseverity,TotalAccidents,TotalInjuries,TotalFatalities,AvgInjuries,AvgFatalities
2,No Injury,34846,0.0,0.0,0.000000,0.000000
4,Possible Injury,7962,10724.0,0.0,1.346898,0.000000
3,Non Incapacitating Injury,4411,6583.0,0.0,1.492405,0.000000
5,Suspected Minor Injury,3046,4738.0,0.0,1.555483,0.000000
1,Incapacitating Injury,559,875.0,0.0,1.565295,0.000000
6,Suspected Serious Injury,325,473.0,0.0,1.455385,0.000000
0,Fatal,154,81.0,161.0,0.525974,1.045455

In [52]:
cat_cols = sum(vals.values(), [])  # flatten dict values into a list
cat_desc_subset = df[cat_cols].describe(include='object').T
print(cat_desc_subset)

                     count unique                           top   freq
Unittype_One         51303      4                        Driver  49680
Unittype_Two         47916      4                        Driver  45396
Gender_Drv1          50375      3                          Male  27168
Gender_Drv2          46447      3                          Male  25807
Traveldirection_One  51303     10                          East  12574
Traveldirection_Two  47916     10                          East  12572
Unitaction_One       51303     23          Going Straight Ahead  24779
Unitaction_Two       47916     24          Going Straight Ahead  22295
Violation1_Drv1      51256     28  Speed To Fast For Conditions  15134
Violation1_Drv2      46547     23            No Improper Action  42924
AlcoholUse_Drv1      51256      2         No Apparent Influence  48803
AlcoholUse_Drv2      46547      2         No Apparent Influence  46414
DrugUse_Drv1         51256      2         No Apparent Influence  50807
DrugUse_Drv2         46547      2         No Apparent Influence  46531

In [51]:
# Get describe output for all categorical/object columns
cat_desc = df.describe(include='object').T  # transpose for readability

# Optional: sort by number of unique values
cat_desc = cat_desc.sort_values("unique", ascending=False)

cat_desc

                     count unique                           top   freq
DateTime             51304  50842        2022/05/10 23:18:00+00      3
CrossStreet          50817    708                      Rural Rd   2516
StreetName           51282    525                      Rural Rd   5178
JunctionRelation     51303     35          Not Junction Related  17049
Violation1_Drv1      51256     28  Speed To Fast For Conditions  15134
Unitaction_Two       47916     24          Going Straight Ahead  22295
Violation1_Drv2      46547     23            No Improper Action  42924
Unitaction_One       51303     23          Going Straight Ahead  24779
Collisionmanner      51303     14                      Rear End  18415
Traveldirection_Two  47916     10                          East  12572
Traveldirection_One  51303     10                          East  12574
SurfaceCondition     51303      9                           Dry  48929
Weather              51303      9                         Clear  46152
Lightcondition       51303      8                      Daylight  36201
Injuryseverity       51303      7                     No Injury  34846
Unittype_One         51303      4                        Driver  49680
Unittype_Two         47916      4                        Driver  45396
Gender_Drv1          50375      3                          Male  27168
Gender_Drv2          46447      3                          Male  25807
AlcoholUse_Drv1      51256      2         No Apparent Influence  48803
DrugUse_Drv1         51256      2         No Apparent Influence  50807
AlcoholUse_Drv2      46547      2         No Apparent Influence  46414
DrugUse_Drv2         46547      2         No Apparent Influence  46531

In [42]:
vals = {
    'Unit Type': ['Unittype_One', 'Unittype_Two'],
    'Gender': ['Gender_Drv1', 'Gender_Drv2'],
    'Travel Direction': ['Traveldirection_One', 'Traveldirection_Two'],
    'Unit Action': ['Unitaction_One', 'Unitaction_One'],
    'Violation': ['Violation1_Drv1', 'Violation1_Drv1'],
    'Alcohol Use': ['AlcoholUse_Drv1', 'AlcoholUse_Drv1'],
    'Drug Use': ['DrugUse_Drv1', 'DrugUse_Drv1']
}

for label, (col1, col2) in vals.items():
    series = pd.concat([
        df[col1].dropna(),
        df[col2].dropna()
    ])
    
    counts = series.value_counts().head(10)  # top 10 for readability
    
    print(f"\n--- {label} ---")
    pd.DataFrame(counts)

--- Unit Type ---

              count
Driver        95076
Pedalcyclist   1742
Driverless     1416
Pedestrian      985

--- Gender ---

         count
Male     52975
Female   38951
Unknown   4896

--- Travel Direction ---

           count
East       25146
South      23075
West       22883
North      22161
Unknown     1412
Northwest   1173
Southeast   1150
Southwest   1087
Northeast   1058
255           74

--- Unit Action ---

                       count
Unitaction_One
Going Straight Ahead   49558
Making Left Turn       23260
Changing Lanes          7904
Making Right Turn       7280
Unknown                 3838
Slowing In Trafficway   2692
Backing                 1814
Making U Turn           1660
Crossing Road           1090
Other                    812

--- Violation ---

                               count
Violation1_Drv1
Speed To Fast For Conditions   30268
Failed To Yield Right Of Way   20904
Unsafe Lane Change              8208
Followed Too Closely            7444
Unknown                         7404
Disregarded Traffic Signal      7078
Other                           5720
Made Improper Turn              4364
Failed To Keep In Proper Lane   3098
Inattention Distraction         3088

--- Alcohol Use ---

                       count
AlcoholUse_Drv1
No Apparent Influence  97606
Alcohol                 4906

--- Drug Use ---

                        count
DrugUse_Drv1
No Apparent Influence  101614
Drugs                     898

In [43]:
vals = {
    'Unit Type': ['Unittype_One', 'Unittype_Two'],
    'Gender': ['Gender_Drv1', 'Gender_Drv2'],
    'Travel Direction': ['Traveldirection_One', 'Traveldirection_Two'],
    'Unit Action': ['Unitaction_One', 'Unitaction_Two'],
    'Violation': ['Violation1_Drv1', 'Violation1_Drv2'],
    'Alcohol Use': ['AlcoholUse_Drv1', 'AlcoholUse_Drv2'],
    'Drug Use': ['DrugUse_Drv1', 'DrugUse_Drv2']
}

# Loop and calculate distinct counts
for label, (col1, col2) in vals.items():
    series = pd.concat([
        df[col1].dropna(),
        df[col2].dropna()
    ])
    
    distinct_count = series.nunique()   # number of distinct values
    distinct_vals = series.unique()     # the distinct values themselves
    
    print(f"\n--- {label} ---")
    print(f"Distinct count: {distinct_count}")
    print(f"Distinct values: {distinct_vals}")

--- Unit Type ---
Distinct count: 4
Distinct values: ['Driver' 'Pedalcyclist' 'Driverless' 'Pedestrian']

--- Gender ---
Distinct count: 3
Distinct values: ['Female' 'Male' 'Unknown']

--- Travel Direction ---
Distinct count: 10
Distinct values: ['West' 'East' 'South' 'Unknown' 'North' 'Northwest' 'Southwest'
 'Northeast' 'Southeast' '255']

--- Unit Action ---
Distinct count: 25
Distinct values: ['Making Left Turn' 'Backing' 'Unknown' 'Changing Lanes'
 'Going Straight Ahead' 'Other' 'Making Right Turn' 'Making U Turn'
 'Slowing In Trafficway' 'Avoiding Vehicle Object Pedestrian'
 'Stopped In Trafficway' 'Entering Parking Position' 'Crossing Road'
 'Negotiating A Curve' 'Walking With Traffic' 'Overtaking Passing'
 'Leaving Parking Position' 'Driverless Moving Vehicle'
 'Improperly Parked' 'Walking Against Traffic' 'Standing'
 'Properly Parked' 'Getting On Or Off Vehicle'
 'Working On Or Pushing Vehicle' 'Lying']

--- Violation ---
Distinct count: 28
Distinct values: ['Inattention Distraction' 'Unknown' 'Made Improper Turn'
 'Unsafe Lane Change' 'Other' 'Speed To Fast For Conditions'
 'Failed To Keep In Proper Lane' 'Disregarded Traffic Signal'
 'No Improper Action' 'Exceeded Lawful Speed'
 'Failed To Yield Right Of Way' 'Drove Rode In Opposing Traffic Lane'
 'Followed Too Closely' 'Knowingly Operated With Faulty Missing Equipment'
 'Disregarded Pavement Markings' 'Other Unsafe Passing'
 'Electronic Communications Device' 'Did Not Use Crosswalk'
 'Ran Stop Sign' 'Passed In No Passing Zone'
 'Walked On Wrong Side Of Road'
 'Required Motorcycle Safety Equipment Not Used' '108' '109' '49'
 'Drove Left Of Center Line' 'Aggressive Driving' 'Wrong Way Driving']

--- Alcohol Use ---
Distinct count: 2
Distinct values: ['Alcohol' 'No Apparent Influence']

--- Drug Use ---
Distinct count: 2
Distinct values: ['No Apparent Influence' 'Drugs']

In [16]:
# Focus on violations for both drivers
violations = pd.concat([
    df['Violation1_Drv1'].dropna(),
    df['Violation1_Drv2'].dropna()
])

# Count most common violations
violation_counts = violations.value_counts().head(15)

pd.DataFrame(violation_counts)

                                     count
No Improper Action                   43921
Speed To Fast For Conditions         15404
Failed To Yield Right Of Way         10610
Unknown                               6129
Unsafe Lane Change                    4233
Followed Too Closely                  3776
Disregarded Traffic Signal            3592
Other                                 3130
Made Improper Turn                    2241
Inattention Distraction               1598
Failed To Keep In Proper Lane         1595
Drove Rode In Opposing Traffic Lane    417
Exceeded Lawful Speed                  283
Ran Stop Sign                          247
Did Not Use Crosswalk                  138