In [7]:
# enable many obj dumps in a cell w/out print
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

# All Python Objects have associated attributes and methods

In [8]:
my_new_string = "Education is a progressive discovery of our own ignorance"

In [9]:
type(my_new_string)

str

In [ ]:
# Now that we've confirmed our object is of type
# string, we can remember that Python has stored
# attributes and methods associated with this
# object type.  You don't need to memorize them.
# Just remember to type the object name + '.' and
# then push the tab key.  You should now see a 
# pop up that show the list of available
# attributes and methods
my_new_string.

### Refresher on indexing and slicing sequential objects - this is important given you are about to learn about more Python data structures...some of which are sequential in nature.

In [ ]:
# slicing [startIndex:endIndex]
# string[0:4]
# startIndex is included in what is returned
# endIndex is NOT included in what is returned

> Run the following code cells to see what
> characters get extracted (sliced) out of 
> our original string object

In [10]:
my_new_string[0:10]

'Education '

In [11]:
print(my_new_string[0:1])
print(my_new_string[0:2])
print(my_new_string[0:3])
print(my_new_string[0:4])
print(my_new_string[0:5])
print(my_new_string[0:6])
print(my_new_string[0:7])

E
Ed
Edu
Educ
Educa
Educat
Educati

In [12]:
# Example of a string method
new_string = '     unit_sales    '

print(new_string)
print(new_string.strip())

     unit_sales
unit_sales

> What does the .strip() method do?<br>
> **Other string methods to explore:**<br>
> * find()<br>
> * startswith()<br>
> * join()<br>

<br>

In [17]:
print(new_string.find('sales'))
print(new_string.strip().startswith('unit'))
print("^".join(['this', 'is', 'a', 'sentence']))

10
True
this^is^a^sentence

# Your first data structure!!!!!
# Python Lists!!!

In [18]:
# Let's create some lists
people = ['tom', 'harry','jane','liz']
pets = ['cat','dog','turtle','pigs']
num_of_friends = [20, 85, 32, 5]
ages = [48.5, 32.3, 65.8, 19.1]

atypical_list = [1, 'cat','34.5',True]

In [56]:
# Let's confirm that Python recognizes our
# objects as lists
type(people)
type(atypical_list)
type(atypical_list[-1])

list

list

bool

In [ ]:
# What attributes and methods exist for list
# objects.  Check by typing out one of the list
# names from above followed by '.' + TAB
pets.

In [21]:
#  We can print lists. Woohoo!!!
print('people:      ', people)
print('pets:        ', pets)

people:       ['tom', 'harry', 'jane', 'liz']
pets:         ['cat', 'dog', 'turtle', 'pigs']

In [22]:
# We can combine lists!
list_concat = people + pets
print(people)
print(pets)
list_concat

['tom', 'harry', 'jane', 'liz']
['cat', 'dog', 'turtle', 'pigs']

['tom', 'harry', 'jane', 'liz', 'cat', 'dog', 'turtle', 'pigs']

In [23]:
# Since lists are sequential, we can
# using index values to extract elements
# from our data structure
print(people[0])

tom

In [24]:
# What if I want more than just one element
print(people[0:2])

['tom', 'harry']

## Lists are MUTABLE!

In [25]:
print(people)
people[0] = 'Geoff'
print(people)

['tom', 'harry', 'jane', 'liz']
['Geoff', 'harry', 'jane', 'liz']

In [26]:
# Let's change the first two
# names in our people list
people[0:2] = ['Larry','Chad']
people

['Larry', 'Chad', 'jane', 'liz']

In [27]:
# We can append new values to our list
people.append('Geoff')
print(people)

# Let's add one more name
people.append('Steve')
print(people)

['Larry', 'Chad', 'jane', 'liz', 'Geoff']
['Larry', 'Chad', 'jane', 'liz', 'Geoff', 'Steve']

In [28]:
# We can add elements to a blank list
results = []
results.append('Larry')
results.append('Chad')
results.append('Susie')
results

['Larry', 'Chad', 'Susie']

In [31]:
# We can nest lists
# Below we create a list of lists
nested_list = [people, pets]
nested_list

[['Larry', 'Chad', 'jane', 'liz', 'Geoff', 'Steve'],
 ['cat', 'dog', 'turtle', 'pigs']]

Questions to explore:
1. what are some interesting list methods?
2. In the nested list above - how would I extract the value 'turtle'?

In [46]:
#list.mro()

nested_list.reverse()
nested_list
nested_list.reverse()
nested_list
nested_list[1].reverse()
nested_list

# What do I get if I use indexing to extract
# an element from a nested list?
nested_list[1][2]
nested_list[1][nested_list[1].index('turtle')]

[['cat', 'dog', 'turtle', 'pigs'],
 ['Larry', 'Chad', 'jane', 'liz', 'Geoff', 'Steve']]

[['Larry', 'Chad', 'jane', 'liz', 'Geoff', 'Steve'],
 ['cat', 'dog', 'turtle', 'pigs']]

[['Larry', 'Chad', 'jane', 'liz', 'Geoff', 'Steve'],
 ['pigs', 'turtle', 'dog', 'cat']]

'dog'

'turtle'

# Quick check-in & trajectory

1. Have learned some basic Python
2. Some basics on how to work with Jupyter Notebooks
3. Where we are going?
> * Go a bit deeper into working with Notebooks:
> * Learn some additional Markdown and some HTML
    > * Help you to create more organized and accessible Notebooks

# My roadmap to Python Superpowers!<a class="anchor" id=table-of_contents></a>

I want to learn Python - but I also want to stay organized in my learning process.  Here's an outline for me to keep track of my work.

* [1. Fundamental Python Objects](#step1)<br>
* [2. Basic operators](#step2)<br>
3. Fundamental Data Structures
4. Something else
5. Something else

In [ ]:
# Code

In [ ]:
# Code

In [ ]:
# Code

In [ ]:
# Code

In [ ]:
# Code

In [ ]:
# Code

In [ ]:
# Code

# Fundamental Python Objects<a class="anchor" id=step1></a>

> Maybe there's some additional documentation here

[Zoom Up](#table-of_contents)

In [ ]:
# Code

# Basic Operators<a class="anchor" id=step2></a>



[Zoom Up](#table-of_contents)

> If you really want to make your notebooks look nice...check out the html blocks below.  You can just copy and paste these chunks of code and swap out the text that gets displayed.

<div class="alert alert-block alert-info">
Here's the thing I control.  I want to say something and for some reason I want it to be in a blue box
</div>

<div class="alert alert-block alert-warning">
TEXT THAT I TYPE
</div>

<div class="alert alert-block alert-success">
MY TEXT - MAYBE FOR GOOD THINGS
</div>

<div class="alert alert-block alert-danger">
PERHAPS I USE THIS FOR WARNINGS OR THINGS I ENCOUNTER THAT ARE POTENTIALLY DANGEROUS FOR THE BUSINESS
</div>

**Basic Python Sequential Data Structures (indexable)**


*   **Lists**: mutable sequences typically used to store collections of items.
*   **Tuples**: are immutable sequences typically used to store collections of data.
*   **Sets**: unordered collections with no duplicate elements
*   **Dictionaries**: unordered collections of key:value pairs, where the keys are of immutable type, and must be unique within one dictionary. Dictionaries are indexed by keys.

# Back to Python Data Structures - Tuples

> Follow-along and work with ChatGPT to get introduced to this topic and we explore...<br>
> 1. how tuples are different from lists<br>
> 2. Why I would use a tuple instead of a list
>

* A tuple is an ordered, immutable collection of elements.
* Tuples can hold any data type and are defined using parentheses ().
  * You can access items using indexing: my_tuple[1] → "apple"
  * Tuples can be nested: nested = (1, (2, 3))
  * They support iteration, slicing, and other sequence operations.

### Tuple vs List in Python

| Feature                | Tuple                            | List                             |
|------------------------|----------------------------------|----------------------------------|
| **Syntax**             | `(1, 2, 3)`                      | `[1, 2, 3]`                      |
| **Mutable?**           | ❌ No (immutable)                | ✅ Yes (mutable)                 |
| **Use Case**           | Fixed data (e.g., coordinates)   | Dynamic data (e.g., shopping list) |
| **Performance**        | Slightly faster                  | Slightly slower                  |
| **Methods available**  | Fewer (e.g., `count`, `index`)   | Many (e.g., `append`, `remove`) |
| **Hashable?**          | ✅ Yes (if all elements are hashable) | ❌ No                           |

In [50]:
my_tuple = (1, "apple", 3.14)
my_tuple

(1, 'apple', 3.14)

# Python Data Structures - Sets

> Follow-long and work with ChatGPT to get introduced to this data structure.<br>
> If ChatGPT provides you with code samples, feel free to copy and paste them below and try them out.

### Python Sets vs Lists

**List**: A list is an **ordered collection** of items that can include **duplicates**. It's like a shopping list — the order matters and you can have repeated items.

**Set**: A set is an **unordered collection** of **unique** items. It's like a collection of unique playing cards — no duplicates allowed and order doesn’t matter.

---

| Feature                 | **List**                          | **Set**                            |
|-------------------------|-----------------------------------|------------------------------------|
| **Definition**          | Ordered collection of items       | Unordered collection of unique items |
| **Syntax**              | `[1, 2, 3, 2]`                    | `{1, 2, 3}`                        |
| **Allows Duplicates?** | ✅ Yes                            | ❌ No                              |
| **Order Matters?**     | ✅ Yes (keeps order)              | ❌ No (order is not guaranteed)    |
| **Mutable?**           | ✅ Yes                            | ✅ Yes (elements must be immutable)|
| **Use Case**           | Store items in order              | Store unique items                 |
| **Common Methods**     | `append()`, `remove()`, `sort()`  | `add()`, `remove()`, `union()`     |

##### Simple Examples

```python
# Sample python code
```

In [58]:
# List example
my_list = [1, 2, 3, 2]
print("List:", my_list)  # Output: [1, 2, 3, 2]

# Set example
my_set = {1, 2, 3, 2}
print("Set:", my_set)    # Output: {1, 2, 3} — duplicate is removed

List: [1, 2, 3, 2]
Set: {1, 2, 3}

In [59]:
# Sample sets
set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}

# Union: combines all unique elements from both sets
print("Union:", set_a.union(set_b))  
# Output: {1, 2, 3, 4, 5, 6}

# Intersection: elements common to both sets
print("Intersection:", set_a.intersection(set_b))  
# Output: {3, 4}

# Difference: elements in set_a but NOT in set_b
print("Difference (A - B):", set_a.difference(set_b))  
# Output: {1, 2}

# Symmetric Difference: elements in either set, but not both
print("Symmetric Difference:", set_a.symmetric_difference(set_b))  
# Output: {1, 2, 5, 6}

# Membership test (fast in sets!)
print("Is 3 in set_a?", 3 in set_a)  
# Output: True

# Add an element
set_a.add(10)
print("After adding 10 to set_a:", set_a)

# Remove an element
set_a.remove(2)  # throws an error if not present
print("After removing 2 from set_a:", set_a)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference (A - B): {1, 2}
Symmetric Difference: {1, 2, 5, 6}
Is 3 in set_a? True
After adding 10 to set_a: {1, 2, 3, 4, 10}
After removing 2 from set_a: {1, 3, 4, 10}

# Python Data Structures - Dictionaries!!!

Dictionaries are an unordered set of <key:value> pairs,
where the keys are of immutable type, and must be unique within one dictionary.
Dictionaries are indexed by keys.
{a:1, b:2, c:3}

1. what they are
2. how do we create them (identify them)?
3. how do we extract information from them?

In [65]:
# Our first dictionary
grades = {'jack':90,'jill':100,'nat':90,'eric': 100,'aubrey':90}
print(grades)

{'jack': 90, 'jill': 100, 'nat': 90, 'eric': 100, 'aubrey': 90}

In [66]:
type(grades)

dict

In [67]:
# Dictionary with different types of keys
my_dict = {
    "name": "John",
    42: "Answer to the Ultimate Question of Life, the Universe, and Everything",
    (1, 2): "A tuple key",
    3.14: "A floating-point key"
}

# Accessing values using different types of keys
print(my_dict["name"])      # Access using a string key
print(my_dict[42])          # Access using an integer key
print(my_dict[(1, 2)])     # Access using a tuple key
print(my_dict[3.14])        # Access using a float key

John
Answer to the Ultimate Question of Life, the Universe, and Everything
A tuple key
A floating-point key

In [68]:
# Dictionaries can be messy and hard on the eyes
# especially when they run off the screen like
# the one below
grades = {'jack':90,'jill':100,'nat':90,'eric': 100,'aubrey':90, 'rebecca':85, 'larry': 89, 'bob': 100}

In [69]:
# A better way to create dictionaries is below
# Notice how much easier it is to read this code and
# to see what is being created
grades1 = {'jack':90,
          'jill':100,
          'nat':90,
          'eric': 100,
          'aubrey':90, 
          'rebecca':85, 
          'larry': 89, 
          'bob': 100}

In [70]:
# My preferred way to create dictionaries
# because I don't like typing single or double quotes
# or curly braces
grades2 = dict(jack=90,
               jill=100,
               nat=90,
               eric=100,
               aubrey=90,
               rebecca=85,
               larry=89,
               bob=100
             )

In [71]:
# print all the dictionaries above to see
# that they are, in fact, identical
print(grades)
print(grades1)
print(grades2)

{'jack': 90, 'jill': 100, 'nat': 90, 'eric': 100, 'aubrey': 90, 'rebecca': 85, 'larry': 89, 'bob': 100}
{'jack': 90, 'jill': 100, 'nat': 90, 'eric': 100, 'aubrey': 90, 'rebecca': 85, 'larry': 89, 'bob': 100}
{'jack': 90, 'jill': 100, 'nat': 90, 'eric': 100, 'aubrey': 90, 'rebecca': 85, 'larry': 89, 'bob': 100}

In [75]:
# Creative way to create a dictionary
# input a list of tuples
grades = dict([('jack',90),
               ('jill',100),
               ('joe',99),
               ('nat',95),
               ('eric',100),
               ('aubry',90)
              ]
             )
print(grades)

{'jack': 90, 'jill': 100, 'joe': 99, 'nat': 95, 'eric': 100, 'aubry': 90}

> NOTE: the key takeaway from the example above is<br>
that Python data structures can be combined in creative ways

## How do we retrieve dictionary information?

In [76]:
# Will this work?
jacks_grade = grades[0]

KeyError: 0

In [80]:
# What about this?
jacks_grade = grades['jack']
jacks_grade

90

> Note: dictionaries are indexed by KEYS!!!

## but how am I supposed to remember the key names?

In [82]:
# Don't!
# Just know how to extract them and, if you want
# you can store them in a list
my_keys = list(grades.keys())
my_keys

['jack', 'jill', 'joe', 'nat', 'eric', 'aubry']

***The Benefits of Dictionary: Keys and Values are Matched*** FROM THE WEEKLY PREVIEW

In [83]:
"""
Use a dictionary to restore the revenue of a new business that started in September 2024. Last year's revenues
are 2000, 1500, 2600, and 3000 (for Sept., Oct., Nov., and Dec.).
"""

monthly_revenue_dict = { "Sept. 2024": 2000, "Oct. 2024": 1500, "Nov. 2024": 2600, "Dec. 2024": 3000}
print("The monthly revenues of our new business are:")
print(monthly_revenue_dict)

"\nUse a dictionary to restore the revenue of a new business that started in September 2024. Last year's revenues\nare 2000, 1500, 2600, and 3000 (for Sept., Oct., Nov., and Dec.).\n"

The monthly revenues of our new business are:
{'Sept. 2024': 2000, 'Oct. 2024': 1500, 'Nov. 2024': 2600, 'Dec. 2024': 3000}

In [84]:
# Now we want to add January's revenue 4000 to the list
monthly_revenue_dict["Jan. 2025"] = 4000
print("The monthly revenues of our new business are:")
print(monthly_revenue_dict)

The monthly revenues of our new business are:
{'Sept. 2024': 2000, 'Oct. 2024': 1500, 'Nov. 2024': 2600, 'Dec. 2024': 3000, 'Jan. 2025': 4000}

In [85]:
"""
We find out that December's revenue should be 3500 instead of 3000, a mistake that shouldn't have happened but it did.
We need to update the list to correct this mistake
"""

monthly_revenue_dict["Dec. 2024"] = 3500
print("The monthly revenues of our new business are:")
print(monthly_revenue_dict)

"\nWe find out that December's revenue should be 3500 instead of 3000, a mistake that shouldn't have happened but it did.\nWe need to update the list to correct this mistake\n"

The monthly revenues of our new business are:
{'Sept. 2024': 2000, 'Oct. 2024': 1500, 'Nov. 2024': 2600, 'Dec. 2024': 3500, 'Jan. 2025': 4000}

In [86]:
# we want to make a note that Jan.'s sale was great
monthly_revenue_dict["Jan. 2025"] = "great sale"
print("The monthly revenues of our new business are:")
print(monthly_revenue_dict)

The monthly revenues of our new business are:
{'Sept. 2024': 2000, 'Oct. 2024': 1500, 'Nov. 2024': 2600, 'Dec. 2024': 3500, 'Jan. 2025': 'great sale'}

In [64]:
# we want to make a note that Jan.'s sale was great
monthly_revenue_dict["Jan.2025"] = [4000, "great sale"]
print("The monthly revenues of our new business are:")
print(monthly_revenue_dict)

The monthly revenues of our new business are:
{'Sept. 2024': 2000, 'Oct. 2024': 1500, 'Nov. 2024': 2600, 'Dec. 2024': 3500, 'Jan. 2025': 'great sale', 'Jan.2025': [4000, 'great sale']}

<div class="alert alert-block alert-warning">
Attention!: If you ever want to pause and check what objects have been created and are stored in RAM associated with your active Jupyter Notebook, type "%whos" in a code cell and then run the cell
</div>

In [87]:
%whos

Variable               Type             Data/Info
-------------------------------------------------
InteractiveShell       MetaHasTraits    <class 'IPython.core.inte<...>eshell.InteractiveShell'>
NamespaceMagics        MetaHasTraits    <class 'IPython.core.magi<...>mespace.NamespaceMagics'>
a                      str              hello
ages                   list             n=4
atypical_list          list             n=4
collections            module           <module 'collections' fro<...>collections/__init__.py'>
dataframe_columns      function         <function dataframe_columns at 0x11d5e43a0>
dataframe_hash         function         <function dataframe_hash at 0x11d706a60>
dtypes_str             function         <function dtypes_str at 0x11d5e4d30>
get_dataframes         function         <function get_dataframes at 0x11d721ee0>
get_ipython            function         <function get_ipython at 0x10600c5e0>
getpass                module           <module 'getpass' from '/<...>ib/python3.9/getpass.py'>
grades                 dict             n=6
grades1                dict             n=8
grades2                dict             n=8
hashlib                module           <module 'hashlib' from '/<...>ib/python3.9/hashlib.py'>
import_pandas_safely   function         <function import_pandas_safely at 0x11d60f0d0>
is_data_frame          function         <function is_data_frame at 0x11d706310>
islice                 type             <class 'itertools.islice'>
jacks_grade            int              90
json                   module           <module 'json' from '/Use<...>hon3.9/json/__init__.py'>
list_concat            list             n=8
monthly_revenue_dict   dict             n=5
my_dict                dict             n=4
my_keys                list             n=6
my_list                list             n=4
my_new_string          str              Education is a progressiv<...>very of our own ignorance
my_set                 set              {1, 2, 3}
my_tuple               tuple            n=3
nested_list            list             n=2
new_string             str                   unit_sales
num_of_friends         list             n=4
people                 list             n=6
pets                   list             n=4
results                list             n=3
set_a                  set              {1, 3, 4, 10}
set_b                  set              {3, 4, 5, 6}
sys                    module           <module 'sys' (built-in)>

## We've learned about quite a few Python data structures...let's summarize what we've learned...

**Strings:**
- Ordered sequence of characters.
- Immutable: Once created, individual characters cannot be changed.
- Enclosed in single (' ') or double (" ") quotes.
- Common string methods: `.upper()`, `.lower()`, `.capitalize()`, `.replace()`, etc.

**Lists:**
- Ordered collection of items (elements).
- Mutable: Elements can be added, removed, or modified.
- Enclosed in square brackets `[ ]`.
- Accessed by index (0-based) or slices.
- Common list methods: `.append()`, `.remove()`, `.pop()`, `.extend()`, etc.

**Dictionaries:**
- Unordered collection of key-value pairs.
- Mutable: Values can be added, removed, or modified based on their keys.
- Enclosed in curly braces `{ }`.
- Accessed by keys, not by index.
- Common dictionary methods: `.get()`, `.keys()`, `.values()`, `.items()`, etc.

**Sets:**
- Unordered collection of unique elements.
- Mutable: Elements can be added or removed.
- Enclosed in curly braces `{ }`.
- Common set methods: `.add()`, `.remove()`, `.discard()`, `.union()`, `.intersection()`, etc.

**Tuples:**
- Ordered collection of elements, similar to lists.
- Immutable: Once created, elements cannot be changed.
- Enclosed in parentheses `( )`.
- Accessed by index.
- Commonly used for grouping related values together.

# Another Summary Before a Refresher on Indexing

# Python Data Structures

There are 4 basic sequence types.  Sequences are indexed by number (what do I mean by indexed?)
* **Strings:** are immutable sequences of Unicode code points.
* **Lists:** are mutable sequences typically used to store collections of homogenous items.
* **Tuples:** are immutable sequences typically used to store collections of heterogeneous data.
* **Ranges:** are immutable sequences of numbers typically used to loop through for loops.
<br>
<br>

**Sets** are unordered collections with no duplicate elements.  Sets cannot be indexed.

**Dictionaries** are unordered collections of <key:value> pairs, where the keys are of immutable type, and must be unique within one dictionary.  Dictionaries are indexed by keys.

### What do we mean by "index"?
**Note:** The attached image below will not render for you since it is stored on MY local machine
<br>
<br>
<br>

![Screen%20Shot%202023-08-17%20at%205.10.09%20PM.png](attachment:Screen%20Shot%202023-08-17%20at%205.10.09%20PM.png)

In [88]:
# Extracting elements of a sequential object using indexing
x = "Python"
print(x)
print(x[0])
print(x[1])
print(x[2])
print(x[3])
print(x[4])
print(x[5])

Python
P
y
t
h
o
n

## Slicing: What are we talking about?

* Slicing uses index values to extract subsets of information from data structures that are indexed
* This is super important when performing data analytics:
> - Use this to extract elements of model output
> - Use this to investigate or extract sections of your data for deeper analysis or aggregation

In [89]:
# A string is a sequential object
# This means we can extract single or
# multiple elements/characters from it
# using index numbers and slicing

# String slicing:
# [startindex:endindex] 
# start is included
# end is NOT included

word = 'Python'

print(word[0:5])
print(word[0:6])
print(word[0:10])
print(word[1:5])
print(word[2:5])
print(word[-6:6])

Pytho
Python
Python
ytho
tho
Python

In [90]:
# Lists are sequential objects as well
# We can slice them up too!!
a_list = [1,2,3,4,5,'a','b','c']
print(a_list[4:8])

[5, 'a', 'b', 'c']

In [91]:
# What if we have a complext list.
# For instance, the nested list below
# How do extract elements from the inner lists?
my_list = [12, 13.2, ['a','b','t',['neo','cypher','morpheus']],'string']

In [92]:
# Suppose I want to grabe the element 'morpheus'
my_list[2][3][2]

'morpheus'

In [93]:
# How do we slice dictionaries?  They are indexed by keys
a_dictionary = dict(ctype = ['bars','lines','scatter'],
                    height = 200,
                    width = 400,
                    marks = dict(color=['red','blue','gray'],
                                 size = [8, 10, 12, 14],
                                 line = True
                                )
                   )

In [94]:
# Suppose I want to grab the some of the size
# values associated with marks...here's how
smallest_marks = a_dictionary['marks']['size'][0:2]
print(smallest_marks)
print(smallest_marks[0])

[8, 10]
8

# Operator Precedence

 Here is a general overview of some of the major operator groups and their precedence (from highest to lowest):

1. **Parentheses:** `()`
2. **Exponentiation:** `**`
3. **Positive/Negative Signs:** `+x`, `-x`
4. **Multiplication, Division, Floor Division, Modulo:** `*`, `/`, `//`, `%`
5. **Addition and Subtraction:** `+`, `-`
6. **Bitwise Shifts:** `<<`, `>>`
7. **Bitwise AND, OR, XOR:** `&`, `|`, `^`
8. **Comparison Operators:** `<`, `<=`, `>`, `>=`, `==`, `!=`
9. **Membership Operators:** `in`, `not in`
10. **Identity Operators:** `is`, `is not`
11. **Logical NOT:** `not`
12. **Logical AND:** `and`
13. **Logical OR:** `or`


# Use parentheses to disambiguate!!!!